<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/admin/adminApp.js"></script>
    <script src="/admin/services/contentService.js"></script>
    <script src="/admin/controllers/contentsController.js"></script>
</head>
<body ng-app="adminApp">
<div class="container">
    <ul class="nav nav-pills">
        <li class="active"><a>文档管理</a></li>
        <li><a>用户管理</a></li>
    </ul>
    <div class="row" ng-controller="contentController">
        <div class="col-xs-3">左侧</div>
        <div class="col-xs-9">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="3%"><input type="checkbox" ng-model="checkbox.ch"></th>
                    <th>标题</th>
                    <th>作者</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="post in contents">
                    <td><input type="checkbox" ng-checked="checkbox.ch"></td>
                    <td><span>{{post.title}}</span></td>
                    <td><span>{{post.name}}</span></td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-xs btn-primary">编辑</button>
                            <button class="btn btn-xs  btn-danger" ng-click="deleteContentById(post._id)">删除</button>
                        </div>
                    </td>
                </tr>
                </tbody>

            </table>
            <div class="text-center">
            <div class="pagination" >
                <li><a ng-click="getContentsByPage(page-1)">&laquo;</a></li>
                <li><a ng-click="getContentsByPage(page-2)" ng-show="page-2>0">{{page-2}}</a></li>
                <li><a ng-click="getContentsByPage(page-1)" ng-show="page-1>0">{{page-1}}</a></li>
                <li class="active"><a ng-click="getContentsByPage(page)" >{{page}}</a></li>
                <li><a ng-click="getContentsByPage(page+1)" ng-show="page+1<=total">{{page+1}}</a></li>
                <li><a ng-click="getContentsByPage(page+2)" ng-show="page+2<=total">{{page+2}}</a></li>
                <li><a ng-click="getContentsByPage(page+1)" >&raquo;</a></li>
            </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>



