<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/admin/adminApp.js"></script>
    <script src="/admin/services/contentService.js"></script>
    <script src="/admin/controllers/contentsController.js"></script>
    <script src="/admin/directive/myDirective.js"></script>
    <script src="/bower_components/lightbox2/dist/js/lightbox.min.js" defer></script>
    <script src="/js/myjs/myjs.js"></script>
</head>
<body ng-app="adminApp">
<div class="container">
    <ul class="nav nav-pills">
        <li class="active"><a>文档管理</a></li>
        <li><a>用户管理</a></li>
    </ul>
    <div class="row" >
        <div class="col-xs-3">左侧</div>
        <div class="col-xs-9">
            <div ng-view></div>
        </div>
    </div>
</div>


</body>
</html>



