<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.min.css"/>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap3/js/bootstrap.min.js"></script>
</head>
<body style="background: #73CFF1 url('/images/index_bg.jpg' ) center top no-repeat; ">
<% include model/top.ejs%>
<div class="container">

    <form method="post" action="/edit/<%= post._id %>">
    标题：<br />
    <input type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
    正文：<br />
    <textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br />
    <input type="submit" value="保存修改" />
</form>
    <% include model/bottom.ejs%>
</div>
</body>
</html>