<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script charset="utf-8" src="/js/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/js/kindeditor/lang/zh_CN.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.min.css"/>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap3/js/bootstrap.min.js"></script>
    <script>
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('textarea', {
                width:300,
                height:200,
                allowImageUpload : true,
                uploadJson:'/post/img',
                items : [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
                    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });
    </script>
</head>
<body>
<div class="container">
    <% include top %>

    <form class="login_form" method="post">
        <div>标题：<input id="title" type="text" name="title"></div>
        <div>内容：<textarea type="content" id="content" name="content"></textarea></div>

        <div>
            <button type="submit">提交</button>
            <button type="reset">重置</button>
        </div>
        <% if (success) { %>
        <div><%= success %></div>
        <% } %>
        <% if (error) { %>
        <div><%= error %> </div>
        <% } %>
    </form>
    <% include bottom %>
</div>
</body>
</html>
