<nav class="navbar navbar-default nav-justified " role="navigation" style="padding: 0px 100px;border-radius: 0px">
    <div style="width: 100px" class="pull-left"><img class="img-rounded img-responsive" src="/images/icon.png"></div>
    <form class="navbar-form pull-left" role="search" action="/search" method="GET">
        <div class="input-group">
            <input style="width: 500px;" type="text" name="keyword" placeholder="SEARCH" class="form-control input-sm"
                   placeholder="Search"/>
               <span class="input-group-btn">
                   <button type="submit" class="btn btn-default btn-sm">Go</button>
                   </span>
        </div>

    </form>
    <ul class="nav navbar-nav pull-left " style="margin-left: 100px;">

        <li id="index"><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
        <% if(user){ %>
        <li id="user"><a href="/users/<%= user.name %>"><span class="glyphicon glyphicon-user"></span> <%= user.name %>
            </a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span style="border-left: solid 1px black;padding-left:20px " class="glyphicon glyphicon-cog"></span>
                设置</a>
            <ul class="dropdown-menu">
                <li><a href="#">账号设置</a></li>
                <li class="" id="filemanage"><a href="/filemanage"> 文件管理</a></li>
                <li class="divider"></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </li>
        <li class="" id="post">
            <a href="#" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-edit"></span> 发表</a>
        </li>
        <% }else { %>
        <li id="login"><a href="/login">登录</a></li>
        <li id="reg"><a href="/reg">注册</a></li>
        <% } %>
        <script type="text/javascript">
            $('ul.nav > li').removeClass('active');
            $('#' + '<%=type%>').addClass('active');
        </script>
    </ul>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content clearfix">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    发表
                </h4>
            </div>
            <form action="/post" class="login_form" role="form" method="post" style="display: inline">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group "><span class="input-group-addon">标题</span><input class="form-control"
                                                                                                  id="title"
                                                                                                  type="text"
                                                                                                  name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group "><span class="input-group-addon">内容</span><textarea
                                    class="form-control"
                                    id="post_content"
                                    type="text" name="content" style="height: 100px"></textarea>
                        </div>
                    </div>
                </div>

                <div class="btn-group pull-right" style="margin: -15px 15px 15px 0px">
                    <button type="submit" class="btn btn-primary btn-sm">提交</button>
                    <button type="reset" class="btn btn-primary btn-sm">重置</button>
                </div>

            </form>
            <div id="preview-template" style="display: none; ">
                <div class="dz-preview dz-file-preview" style="display:inline-block;width: 80px;height: 120px;margin: 5px; ">
                    <div class="dz-details" style="position: relative">
                        <div class="dz-filename" style="display: none;"><span data-dz-name></span></div>
                        <div class="dz-size" data-dz-size style="display: none;"></div>
                        <img data-dz-thumbnail style=" border:1px solid black;border-radius: 10px;display: inline-block;height: 120px;width: 80px"/>
                        <img class="remove_icon" src="/images/close.png" alt="Click me to remove the file." data-dz-remove style="position: absolute;top: 40%;right: 34%"/>
                    </div>
                    <div class="dz-progress" style="display: none;"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    <div class="dz-success-mark" style="display: none;"><span>✔</span></div>
                    <div class="dz-error-mark" style="display: none;"><span>✘</span></div>
                    <div class="dz-error-message"   ><span data-dz-errormessage></span></div>

                </div>
            </div>
            <div id="uploadImg" class="dropzone-previews">点击或者拖拽上传</div>
            <script>
                $("div#uploadImg").dropzone({
                    url: "/post/img",
                    addRemoveLinks: true,
                    acceptedFiles: 'image/*',
                    previewsContainer: '.dropzone-previews',
                    previewTemplate:$('#preview-template').html(),
                    dictRemoveFile:'',
                    dictCancelUpload:'',
                    maxFilesize:5,
                    thumbnailWidth: 80,
                    thumbnailHeight: 120,
                    init: function () {
                        this.on('success', function (file, info) {
                            console.log(file.name);
                            $(".login_form").append("<input class='input_img' name='img' type='hidden' value='" + JSON.stringify(info) + "'>");
                         });


                        this.on('removedfile', function (file) {
                            $(".input_img")['0'].remove();

                        });
                    }
                })
                ;
            </script>
        </div>
    </div>
</div>

