
html, body, div, span, iframe, map, font, img, a img, samp, strong, hr,
h1, h2, h3, h4, h5, h6, b, p, blockquote, a, address, code, dl, dt, dd, ol,
ul, li, form, label, table, tr, td, th {
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: normal;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    background: #fff;
}

ul, li {
    list-style: none;
}

dl {
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

#main {
    width: 1000px;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

#top {
    background-color: black;
    height: 80px;
    vertical-align: middle;
}

#top .img {
    display: inline-block;
    margin-left: 50px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    line-height: 80px;
}

#top a {
    margin-left: 30px;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
    color: white;
    font-size: 30px;
    font-family: "΢微软雅黑";
}

#content {
    height: 800px;
}

#user_left {
    background-color: white;
    border-radius:5px 0 0 5px;
}

.user_left_content {
    padding: 10px 0px 0px 0px;
    margin-top: 30px;
    overflow: hidden
}

#user_right{
    background-color: #73CFF1;
    border-radius:0 5px 5px 0;
    padding: 0px;
}
.user_head_portrait img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}
.user_message{
  background-color:   #89B4CA;
    height: 50px;
}
.user_message li{
    display: inline-block;
    width: 32%;
    height: 50px;


}
.user_message a{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 8px 0;
    border-left: solid 1px rgba(0,0,0,0.2);
}
.user_message  li:first-child a{
    border-left: none;
}
.user_message li a span{
    color: #006a92;
    padding: 0 0;
    display: block;


}