<div id="imgupload">
    <div class="text-center">最多添加4张图片</div>
    <div id="preview-template" class="pull-left" style="display: none; ">
        <div class="dz-preview dz-file-preview"
             style="display:inline-block;width: 80px;height: 120px;margin: 5px; ">
            <div class="dz-details" style="position: relative">
                <div class="dz-filename" style="display: none;"><span data-dz-name></span></div>
                <div class="dz-size" data-dz-size style="display: none;"></div>
                <img data-dz-thumbnail
                     style=" border:1px solid black;border-radius: 10px;display: inline-block;height: 120px;width: 80px"/>


                <img class="remove_icon" src="/images/close.png" alt="Click me to remove the file."
                     data-dz-remove style="position: absolute;top: 40%;right: 34%"/>
            </div>
            <div class="dz-progress" style="display: none;"><span class="dz-upload"
                                                                  data-dz-uploadprogress></span></div>
            <div class="dz-success-mark" style="display: none;"><span>?</span></div>
            <div class="dz-error-mark" style="display: none;"><span>?</span></div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>

        </div>
    </div>
    <div class="dropzone-previews pull-left">
    </div>
    <div id="uploadImg" class="pull-left"
         style="position:relative;width: 80px;height: 120px;margin: 5px;border:1px solid black;border-radius:5px;">
        <span class="glyphicon glyphicon-plus" style="position: absolute;top: 44%;right: 44%"></span></div>
</div>