<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑
                </h4>
            </div>
            <form action="/content/<%= post._id %>" name="update_form" class="post_form" role="form" method="post"
                  style="display: inline">
                <input type="hidden" name="_method" value="update">

                <div class="modal-body clearfix">
                    <div class="form-group">
                        <div class="input-group "><span class="input-group-addon">标题</span><input class=" form-control"
                                                                                                  id="update_title"
                                                                                                  type="text"
                                                                                                  name="title"
                                                                                                  placeholder="请输入标题…"
                                                                                                  maxlength="15"
                                                                                                  disabled="disabled"
                                                                                                  value="<%= post.title %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group "><span class="input-group-addon">内容</span><textarea
                                    class="form-control"
                                    id="post_content"
                                    type="text" name="content"  placeholder="请输入内容…"
                                    maxlength="130"></textarea>
                        </div>
                    </div>

                    <div class="btn-group pull-right post_btn">

                        <input type="submit" class="btn btn-primary btn-sm post_btn" value="发表">
                    </div>
                    <div class="input_number pull-right">还能输入{{130-update_form.content.$viewValue.length}}个字</div>
                </div>
            </form>
        </div>
    </div>
</div>